<div class="header">
	<div class="title">
		<div id="logo">

		</div>
	</div>
	<div class="form">
		<form action="/urls" method="post">
				
				<input class="name" type ="text" name="long_url">
				<!-- <p>http://mis.com/<input type ="text" name="short_url"></p> -->
				<input class="submit" type ="submit" value="short"> 

		</form>
	</div>

	
	<div class="result">


		<% if !@data.nil? %> 

			<% if !@data.errors.empty? %>
					
					<h3> Your URL <%=@data.errors.messages[:long].join %>.</h3>
					

			<% else %>

				<div class="inner-result">

					<div class="title-url">
						your_short_url:
						

					</div>
					<div class="short">
						<a href="<%=@data.short%>" target="_blank">http://mis/<%=@data.short%></a>
							
					</div>



				</div>
					
			<% end %>

		<% end %>

	

	</div><!--end of result -->

<div class="menu">
		:  <span class="show">show_all_links</span>   :   <span class="desc">read_instruction</span>  :
	</div>
</div> <!--end of header -->
<!-- <div class="test"></div> -->


<div class="instruction">
	<!-- <div class="ins-title">
		<h2>this_is_the_instruction</h2>
	</div> -->

	<i class="left-arrow fa fa-chevron-left fa-3x"></i>
	

	
	<i class="right-arrow fa fa-chevron-right fa-3x"></i>
	
	<div id="step-1" class="ins-body">
		<h2><span>step:</span>one</h2>
		<p>insert your url </p>
		<p><img src="img/step1.jpeg" style="width: 500px"></p>
		<i id="arrow-1" class="fa fa-arrow-up"></i>
		<!-- <p><span id="next-1">next</span></p> -->
		
	</div>

	<div id="step-2" class="ins-body">
		<h2><span>step:</span>two</h2>
		<p>click the button</p>
		<p><img src="img/step2.jpeg" style="width: 500px"></p>
		<i id="arrow-2" class="fa fa-arrow-up"></i>
		<!-- <p><span id="prev-2">prev</span> | <span id="next-2">next</span></p> -->
	</div>

	<div id="step-3" class="ins-body">
		<h2><span>step:</span>three</h2>
		<p>use your short url</p>
		<p><img src="img/step3.jpeg" style="width: 500px"></p>
		<i id="arrow-3" class="fa fa-arrow-up"></i>
		<!-- <p><span id="prev-3">prev</span></p> -->
	</div>
	<div class="clear"></div>
</div><!--end of instruction-->

<div id=""class="list">

	<div class="table">
		  
		
		<table>
		  <tr>
		  	<th>item</th>
		    <th class="long">long_urls</th>
		    <th class="short">short_urls</th>
		    <th class="count">click_counts</th>
		  </tr>

		<% @count = 1 %>
		
		<%  Url.last(100).each do |item|%>
		  <tr style="background-color: <%if @count % 2 != 0%> #ffd3d3 <% else %> white <% end%>">
		  	<td class="index"><%= @count %>. </td>
		    <td class="long"><a href="<%= item.long %>" target="_blank"><%= item.long %></a></td>
		    <td class="short"><a href="<%= item.short %>" target="_blank">http://mis/<%= item.short %></a></td>
		    <td class="count"><%= item.click_count %></td>
		  </tr>

		<% @count += 1 %>
		<% end %>
		</table>
	</div><!--end of table-->



</div><!-- end of list -->

<div class="bottom-bar">

</div><!--end of bottom bar -->

<div class="social">

</div>










