<div class="header">
	<div class="title">
		make_it_short:
	</div>
	<div class="form">
		<form action="/urls" method="post">
				
				<input class="name" type ="text" name="long_url">
				<!-- <p>http://mis.com/<input type ="text" name="short_url"></p> -->
				<input class="submit" type ="submit" value="Short"> 

		</form>
	</div>

</div>

<div class="result">


<% if !@data.nil? %> 

	<% if !@data.errors.empty? %>
			
			<h3> Your URL <%=@data.errors.messages[:long].join %>.</h3>
			

	<% else %>

		<div class="inner-result">

			<div class="title-url">
				your_short_url:
				

			</div>
			<div class="short">
				<a href="<%=@data.short%>" target="_blank">http://mis/<%=@data.short%></a>
					
			</div>



		</div>
			
	<% end %>

<% end %>

</div>

<div class="list">

	<div class="table">
		  
		
		<table>
		  <tr>
		  	<th>item</th>
		    <th class="long">long_urls</th>
		    <th class="short">short_urls</th>
		    <th class="count">click_counts</th>
		  </tr>

		<% @count = 1 %>
		
		<%  Url.find_each do |item|%>
		  <tr style="background-color: <%if @count % 2 != 0%> lightgreen <% else %> white <% end%>">
		  	<td class="index"><%= @count %>. </td>
		    <td class="long"><a href="<%= item.long %>" target="_blank"><%= item.long %></a></td>
		    <td class="short"><a href="<%= item.short %>" target="_blank">http://mis/<%= item.short %></a></td>
		    <td class="count"><%= item.click_count %></td>
		  </tr>

		<% @count += 1 %>
		<% end %>
		</table>
	</div>

</div>









